ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.wrapper {
  display: table;
  table-layout: fixed;
  margin: auto;
  width: 60%;
  height: 100vh;
  margin-top: 50px;
}

.container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media (max-width: 1250px) {
  .container {
    width: 80%;
    text-align: center;
  }
}

table {
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table th {
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #04aa6d;
  color: white;
  text-align: left;
  padding: 8px;
  width: 33.33%;
}

table tr {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

table tr td {
  text-align: left;
  padding: 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
  cursor: pointer;
}

table tr .menu__list-item-collapsible {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

table tr .menu__list-item-collapsible:after {
  position: relative;
  top: -5px;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border-right: 0.2em solid #666;
  border-top: 0.2em solid #666;
  transform: rotate(135deg);
  margin-right: 0.5em;
  margin-left: auto;
}

table tr .is-open:after {
  top: 5px;
  transform: rotate(-45deg);
}

.panel {
  display: table-column;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}

.panel-is-open {
  opacity: 1;
  height: auto;
  display: table-row;
  transition: height 0ms 0ms, opacity 600ms 0ms;
}
